<div id="portfolio" class="max-w-4xl mx-auto p-8 py-2 pb-8 bg-gray-900 text-white rounded-2xl shadow-2xl mt-6">
  <!-- Holdings Summary -->
  <div class="mt-8 bg-gradient-to-r from-blue-500 to-teal-600 p-6 rounded-lg shadow-lg">
    <h2 class="text-4xl mb-2 font-extrabold">Total Assets</h2>
    <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center">
      <p class="text-lg font-medium text-gray-300">Balance (In Stocks):</p>
      <p class="text-xl font-bold"><%= number_to_currency(@total_holdings_value) %></p>
    </div>

    <%= turbo_frame_tag "balance" do %>
      <div class="flex items-center justify-between text-white">
        <p class="text-lg font-medium text-gray-300">Wallet:</p>
        <p class="text-xl font-bold"><%= number_to_currency(@balance) %></p>
      </div>
    <% end %>
  </div>

  <!-- Holdings Table -->
  <div class="mt-8 bg-gray-800 p-6 rounded-xl shadow-lg">
    <h3 class="text-2xl font-semibold mb-4 border-b border-gray-600 pb-2">Your Stocks</h3>
    <table class="w-full table-auto text-left">
      <thead>
        <tr class="text-gray-400 text-lg border-b border-gray-600">
          <th class="py-3">Symbol</th>
          <th class="py-3">Company</th>
          <th class="py-3">Avg. Buy Price</th>
          <th class="py-3">Shares</th>
          <th class="py-3">Total Value</th>
        </tr>
      </thead>
      <tbody>
        <% if @holdings.any? %> 
          <% @holdings.each do |holding| %>
            <% stock = holding.stock %>
            <tr class="border-b border-gray-700 hover:bg-gray-700/40 transition">
              <td class="py-5 font-bold text-white"><%= stock.symbol %></td>
              <td class="py-5 text-gray-300"><%= stock.name %></td>
              <td class="py-5 text-green-400 pl-5"><%= number_to_currency(holding.average_price) %></td>
              <td class="py-5 pl-4"><%= holding.shares %></td>
              <td class="py-5 pl-4 font-semibold text-blue-300"><%= number_to_currency(holding.total) %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="5" class="py-6 text-center text-gray-400">No holdings found.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
